In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
# Load the data
data1 = pd.read_csv('../dataset/01_raw/2009_2020_crime_data.csv')
data2 = pd.read_csv('../dataset/01_raw/2021_2024_crime_data.csv')

/var/folders/5t/k32b1zys181cv4n2nz_7rq1c0000gp/T/ipykernel_86413/4240206472.py:3: DtypeWarning: Columns (15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('../dataset/01_raw/2021_2024_crime_data.csv')

In [13]:
# get column name for both datasets and print
print(data1.columns), print(data2.columns)

Index(['IDCol', 'Report Number', 'Report Date', 'Day Occurred', 'Day Number',
       'Occur Date', 'Occur Time', 'Possible Date', 'Possible Time', 'Beat',
       'Zone', 'Location', 'Apartment Number', 'Crime Type', 'NIBRS Code',
       'Neighborhood', 'NPU', 'Longitude', 'Latitude', 'ObjectId', 'x', 'y'],
      dtype='object')
Index(['OBJECTID', 'Report Number', 'Report Date', 'Offense Start Date',
       'Offense End Date', 'Day of the week', 'Day Number', 'Zone', 'Beat',
       'Location', 'Location Type', 'NIBRS Code', 'NIBRS Code Name',
       'Crime Against', 'Was a firearm involved?', 'Press Release',
       'Social Media', 'Watch', 'Longitude', 'Latitude', 'Neighborhood', 'NPU',
       'Council District', 'UCR Grouping', 'Victim Count', 'GlobalID', 'x',
       'y'],
      dtype='object')

(None, None)

In [15]:
data1.head()

,IDCol,Report Number,Report Date,Day Occurred,Day Number,Occur Date,Occur Time,Possible Date,Possible Time,Beat,...,Apartment Number,Crime Type,NIBRS Code,Neighborhood,NPU,Longitude,Latitude,ObjectId,x,y
0,320197,203581105,12/23/2020 12:00:00 AM,Wednesday,4,12/23/2020,10:00,12/23/2020,16:45,410,...,NaN,BURGLARY,220,Campbellton Road,R,-84.466012,33.702732,1,-9.402713e+06,3.988956e+06
1,320198,203581144,12/23/2020 12:00:00 AM,Wednesday,4,12/23/2020,17:16,12/23/2020,17:30,505,...,NaN,LARCENY-FROM VEHICLE,23F,Midtown,E,-84.387771,33.774764,2,-9.394004e+06,3.998598e+06
2,320199,203581174,12/23/2020 12:00:00 AM,Saturday,7,12/19/2020,21:50,12/19/2020,22:30,211,...,NaN,LARCENY-FROM VEHICLE,23F,Lindbergh/Morosgo,B,-84.366938,33.819892,3,-9.391685e+06,4.004643e+06
3,320200,203581238,12/23/2020 12:00:00 AM,Wednesday,4,12/23/2020,18:05,12/23/2020,18:09,206,...,NaN,AUTO THEFT,240,Buckhead Village,B,-84.376506,33.837935,4,-9.392750e+06,4.007061e+06
4,320201,203581247,12/23/2020 12:00:00 AM,Wednesday,4,12/23/2020,18:12,NaN,NaN,204,...,NaN,LARCENY-NON VEHICLE,23C,Berkeley Park,D,-84.412846,33.804230,5,-9.396795e+06,4.002545e+06

In [16]:
data2.head()

,OBJECTID,Report Number,Report Date,Offense Start Date,Offense End Date,Day of the week,Day Number,Zone,Beat,Location,...,Longitude,Latitude,Neighborhood,NPU,Council District,UCR Grouping,Victim Count,GlobalID,x,y
0,1,21365171,12/31/2021 8:20:15 AM,12/31/2021 7:15:00 AM,12/31/2021 7:45:00 AM,Friday,6,6,604,111 BOULEVARD NE,...,-84.371743,33.757320,Old Fourth Ward,M,2.0,Part II,NaN,7e30cbbb-4392-47ba-8311-b1ad817105e9,-84.371743,33.757320
1,2,21791668,6/29/2021 12:58:09 AM,6/28/2021 1:17:00 AM,6/29/2021 12:00:00 AM,Sunday,1,1,102,870 MAYSON TURNER RD NW,...,-84.416631,33.755768,Vine City,L,3.0,Part I,NaN,104a1262-ef8a-4478-b776-1594a7206307,-84.416631,33.755768
2,3,22041413,2/14/2022 8:26:21 PM,1/25/2022 1:50:00 PM,1/25/2022 2:15:00 PM,Tuesday,3,3,304,1192 PRYOR RD SW,...,-84.392803,33.722882,Peoplestown,V,12.0,Part II,1.0,5784d36f-0839-4795-9d8b-370e59eb72b0,-84.392803,33.722882
3,4,193390123,6/24/2021 10:14:31 AM,12/5/2019 6:14:00 AM,12/5/2019 6:40:00 AM,Thursday,5,2,211,I-85 S / GA-400 S,...,-84.361660,33.819430,Lindbergh/Morosgo,B,6.0,Part II,NaN,6217e790-ded9-421c-9ac1-eb31f53f0894,-84.361660,33.819430
4,5,202771329,8/19/2021 9:53:50 PM,10/3/2020 8:29:00 PM,10/3/2020 8:29:00 PM,Saturday,7,1,109,665 S GRAND AVE NW,...,-84.462521,33.773181,Center Hill,J,9.0,Part I,1.0,44add9cf-98ce-4910-8884-ab3c9b3fbaf7,-84.462521,33.773181

# Merge the two datasets

In [19]:
#drop offense End Date column from data2
data2 = data2.drop('Offense End Date', axis=1)
data2.head()

KeyError: "['Offense End Date'] not found in axis"

In [20]:
data2.head()

,OBJECTID,Report Number,Report Date,Offense Start Date,Day of the week,Day Number,Zone,Beat,Location,Location Type,...,Longitude,Latitude,Neighborhood,NPU,Council District,UCR Grouping,Victim Count,GlobalID,x,y
0,1,21365171,12/31/2021 8:20:15 AM,12/31/2021 7:15:00 AM,Friday,6,6,604,111 BOULEVARD NE,Service/ Gas Station,...,-84.371743,33.757320,Old Fourth Ward,M,2.0,Part II,NaN,7e30cbbb-4392-47ba-8311-b1ad817105e9,-84.371743,33.757320
1,2,21791668,6/29/2021 12:58:09 AM,6/28/2021 1:17:00 AM,Sunday,1,1,102,870 MAYSON TURNER RD NW,Residence/ Home / Apartment / Condo,...,-84.416631,33.755768,Vine City,L,3.0,Part I,NaN,104a1262-ef8a-4478-b776-1594a7206307,-84.416631,33.755768
2,3,22041413,2/14/2022 8:26:21 PM,1/25/2022 1:50:00 PM,Tuesday,3,3,304,1192 PRYOR RD SW,Service/ Gas Station,...,-84.392803,33.722882,Peoplestown,V,12.0,Part II,1.0,5784d36f-0839-4795-9d8b-370e59eb72b0,-84.392803,33.722882
3,4,193390123,6/24/2021 10:14:31 AM,12/5/2019 6:14:00 AM,Thursday,5,2,211,I-85 S / GA-400 S,Highway/ Road/ Alley/ Street/ Sidewalk,...,-84.361660,33.819430,Lindbergh/Morosgo,B,6.0,Part II,NaN,6217e790-ded9-421c-9ac1-eb31f53f0894,-84.361660,33.819430
4,5,202771329,8/19/2021 9:53:50 PM,10/3/2020 8:29:00 PM,Saturday,7,1,109,665 S GRAND AVE NW,Other/Unknown,...,-84.462521,33.773181,Center Hill,J,9.0,Part I,1.0,44add9cf-98ce-4910-8884-ab3c9b3fbaf7,-84.462521,33.773181

In [ ]:
#check how many unique vales in Longtiude and Latitude columns

In [24]:
#check the data types of the columns
data2.dtypes

OBJECTID                     int64
Report Number                int64
Report Date                 object
Offense Start Date          object
Day of the week             object
Day Number                   int64
Zone                         int64
Beat                        object
Location                    object
Location Type               object
NIBRS Code                  object
NIBRS Code Name             object
Crime Against               object
Was a firearm involved?     object
Press Release               object
Social Media                object
Watch                       object
Longitude                  float64
Latitude                   float64
Neighborhood                object
NPU                         object
Council District           float64
UCR Grouping                object
Victim Count               float64
GlobalID                    object
x                          float64
y                          float64
dtype: object

In [21]:
data_test = data2.copy()

In [22]:
# in data1 we have a column named 'Offense Start Date' that is has input format ex. '1/1/2009 0:00 AM'. We want to split this column into two columns one for Occur Date and one for Occur Time. In occur date place the '1/1/2009' and in occur time place '0:00 AM'
data_test[['Occur Date', 'Occur Time']] = data_test['Offense Start Date'].str.split(' ', 1, expand=True)
data_test.head()

TypeError: StringMethods.split() takes from 1 to 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [25]:
# Ensure 'Offense Start Date' is treated as a string
data2['Offense Start Date'] = data2['Offense Start Date'].astype(str)

# Now split 'Offense Start Date' into 'Occur Date' and 'Occur Time'
data2[['Occur Date', 'Occur Time']] = data2['Offense Start Date'].str.split(' ', n=1, expand=True)
data2.head()

,OBJECTID,Report Number,Report Date,Offense Start Date,Day of the week,Day Number,Zone,Beat,Location,Location Type,...,Neighborhood,NPU,Council District,UCR Grouping,Victim Count,GlobalID,x,y,Occur Date,Occur Time
0,1,21365171,12/31/2021 8:20:15 AM,12/31/2021 7:15:00 AM,Friday,6,6,604,111 BOULEVARD NE,Service/ Gas Station,...,Old Fourth Ward,M,2.0,Part II,NaN,7e30cbbb-4392-47ba-8311-b1ad817105e9,-84.371743,33.757320,12/31/2021,7:15:00 AM
1,2,21791668,6/29/2021 12:58:09 AM,6/28/2021 1:17:00 AM,Sunday,1,1,102,870 MAYSON TURNER RD NW,Residence/ Home / Apartment / Condo,...,Vine City,L,3.0,Part I,NaN,104a1262-ef8a-4478-b776-1594a7206307,-84.416631,33.755768,6/28/2021,1:17:00 AM
2,3,22041413,2/14/2022 8:26:21 PM,1/25/2022 1:50:00 PM,Tuesday,3,3,304,1192 PRYOR RD SW,Service/ Gas Station,...,Peoplestown,V,12.0,Part II,1.0,5784d36f-0839-4795-9d8b-370e59eb72b0,-84.392803,33.722882,1/25/2022,1:50:00 PM
3,4,193390123,6/24/2021 10:14:31 AM,12/5/2019 6:14:00 AM,Thursday,5,2,211,I-85 S / GA-400 S,Highway/ Road/ Alley/ Street/ Sidewalk,...,Lindbergh/Morosgo,B,6.0,Part II,NaN,6217e790-ded9-421c-9ac1-eb31f53f0894,-84.361660,33.819430,12/5/2019,6:14:00 AM
4,5,202771329,8/19/2021 9:53:50 PM,10/3/2020 8:29:00 PM,Saturday,7,1,109,665 S GRAND AVE NW,Other/Unknown,...,Center Hill,J,9.0,Part I,1.0,44add9cf-98ce-4910-8884-ab3c9b3fbaf7,-84.462521,33.773181,10/3/2020,8:29:00 PM